<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script defer src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <style>
    body {
      display: flex;
      justify-items: center;
      align-items: center;
      height: 100vh;
    }
    h1 {
      font-size: 5rem;
      margin: 10rem;
    }
  </style>
  <body>
    <select name="sensorselect" id="sensor">
      <option value="Sensor 1">Sensor 1</option>
      <option value="Sensor 2">Sensor 2</option>
      <option value="Sensor 3">Sensor 3</option>
      <option value="Sensor 4">Sensor 4</option>
      <option value="Sensor 5">Sensor 5</option>
      <option value="Sensor 6">Sensor 6</option>
      <option value="Sensor 7">Sensor 7</option>
      <option value="Sensor 8">Sensor 8</option>
      <option value="Sensor 9">Sensor 9</option>
      <option value="Sensor 10">Sensor 10</option>
      <option value="Sensor 11">Sensor 11</option>
      <option value="Sensor 12">Sensor 12</option>
      <option value="Sensor 13">Sensor 13</option>
      <option value="Sensor 14">Sensor 14</option>
      <option value="Sensor 15">Sensor 15</option>
      <option value="Sensor 16">Sensor 16</option>
      <option value="Sensor 17">Sensor 17</option>
      <option value="Sensor 18">Sensor 18</option>
      <option value="Sensor 19">Sensor 19</option>
      <option value="Sensor 20">Sensor 20</option>
      <option value="Sensor 21">Sensor 21</option>
      <option value="Sensor 22">Sensor 22</option>
      <option value="Sensor 23">Sensor 23</option>
    </select>
    <h1 id="enoch">Pass that from the endpoint here</h1>
  </body>
</html>
